<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--OpenFire服务器 http://192.168.1.88:1111/ http://localhost:10413/-->
    <add key="Server" value="192.168.2.192" />
    <add key="Domain" value="192.168.1.95" />
    <!--应用服务器 http://192.168.1.90:8020/-->
    <add key="AppServer" value="192.168.2.91:8020" />
    <add key="HeadImageServer" value="192.168.2.145:8888/" />

    <!--Mail服务器 http://192.168.1.88:1111/ http://localhost:10413/-->
    <add key="MailServer" value="192.168.2.91:8020" />
    <add key="MailWeb" value="192.168.2.192" />


    <!--文件服务器 http://192.168.2.192:1111/ http://localhost:10413/-->
    <add key="FileServer" value="http://192.168.2.192:1111/" />
    <add key="TalkService" value="http://192.168.2.192:1111/WEBSERVICE/WBS_TalkHistory.asmx" />
    <add key="TalkServiceRoot" value="http://192.168.2.192:1111" />
    <add key="MeetingRoomName" value="@conference.192.168.1.95" />
    <!-- http://192.168.2.192:1111-->
    <!--http://localhost:10413-->

    <add key="FirstPage" value="work/index.html" />
    <add key="ConstructionGuide" value="work/macro.html" />
    <add key="TechnicalGuidance" value="work/guidance2.html" />
    <add key="ActualCooperation" value="work/caseXC.html" />
    <add key="IsLoginActualCooperation" value="work/combat2.html"/>
    <!--upload Updata.html ExamineZ.html work/combat2.html Apply combat6 combat10-->
    <add key="Study" value="work/learn1.html" />
    <add key="Science" value="work/innovate1.html" />
    <add key="SysManage" value="work/management.html" />
    <add key="PersonalInfo" value="work/personal1.html" />
    <add key="PersonalInfo2" value="work/personal2.html" />
    <add key="Register" value="work/register1.html" />
    <add key="Chat" value="IMClient.exe" />
    <add key="Mail" value="work/emailLogin.html" />
    <!--    <add key="FirstPage" value="Front_Web/index.html" />
      <add key="ConstructionGuide" value="Front_Web/macro.html" />
      <add key="TechnicalGuidance" value="Front_Web/guidance.html" />
      <add key="ActualCooperation" value="Front_Web/combat2.html" />
      <add key="Study" value="Front_Web/learn.html" />
      <add key="Science" value="Front_Web/innovate1.html" />
      <add key="SysManage" value="Front_Web/ui/index.html" />
      <add key="PersonalInfo" value="Front_Web/personal1.html" />
      <add key="PersonalInfo2" value="Front_Web/personal2.html" />
      <add key="Register" value="Front_Web/register1.html"/>
      <add key="Chat" value="IMClient.exe"/>
      <add key="Mail" value="Front_Web/emailLogin.html" />-->
    <add key="HeadImage" value="DNALIMS/upload/" />
    <add key="FileServer_TempFile" value="tempFile" />
    <add key="LocalDB" value="FileOperation.db" />
    <add key="LocalSQL" value="FileOperation.sql" />
    <add key="LocalDB_FileOperation" value="Main.LocalDB_FileOperation" />
    <add key="LocalDB_SQL_Dir" value="Compents/Sql/" />
    <add key="LocalDB_Recent" value="Main.Recent_Link" />
    <add key="LocalSQL_Recent" value="recent.sql" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="UserServiceBinding" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.192:8897/api" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" bindingConfiguration="UserServiceBinding" contract="DNANET.Service.IUserService" name="UserService" />
    </client>
    <standardEndpoints />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>